@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');.cabecalho

{
 background-color: #132c80;
    text-align: center;
    color: #111;
    padding: 3% 10% 0% 10%;
    font-family:"MontSerrat",sans-serif;
    font-weight: 400px;
    
}
.cabecalho__menu{

    display: flex;
    gap: 80px;

}
.cabecalho__menu__link
{
    font-family: "MontSerrat", sans-serif;
    font-size: 24px;
    font-weight: 600px;
    color: #22D4Fd;
    text-decoration: none;
}

.titulo-destaque {
    color: #22d4fd;
}
   
.apresentacao{
    display: flex;

    }

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.apresentacao__conteudo__titulo{
    font-size: 48px;
    font-family: "Krona One", sans-serif;
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "montserrat", sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 32px,;

}

 * {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "MontSerrat", sans-serif;
}

body {
background-color: #000;
color: #fff;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


form {
background-color: #111;
padding: 30px;
border-radius: 12px;
width: 100%;
max-width: 400px;
box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
border: 1px solid #333;
}

form h2 {
text-align: center;
margin-bottom: 20px;
font-weight: 600;
color: #fff;
}

label {
display: block;
margin-bottom: 6px;
font-size: 14px;
color: #bbb;
}

input {
width: 100%;
padding: 10px;
border: none;
border-radius: 6px;
background-color: #222;
color: #fff;
font-size: 14px;
margin-bottom: 18px;
transition: 0.3s;
}

input:focus {
outline: none;
background-color: #333;
box-shadow: 0 0 6px #0ff;
}


button {
width: 100%;
background: linear-gradient(90deg, #0ff, #08f);
color: #000;
border: none;
border-radius: 6px;
padding: 12px;
font-size: 15px;
font-weight: 600;
cursor: pointer;
transition: all 0.3s ease;
}

button:hover {
background: linear-gradient(90deg, #08f, #0ff);
transform: scale(1.03);
box-shadow: 0 0 10px #0ff;
}


.mensagem-erro {
color: #ff4c4c;
font-size: 13px;
margin-top: -12px;
margin-bottom: 10px;
}


.cabecalho__menu__link {
color: #fff;
text-decoration: none;
margin: 0 10px;
transition: 0.3s;
}

.cabecalho__menu__link:hover {
color: #0ff;
}

footer {
margin-top: 40px;
text-align: center;
font-size: 13px;
color: #777;
}